<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

{{- if (eq .Layout `search`) -}}
{{ .Scratch.Set "scope" "search" }}
{{- else if (eq .Layout `archives`) -}}
{{ .Scratch.Set "scope" "archive" }}
{{- else if (eq .Kind `page`) -}}
{{ .Scratch.Set "scope" "page" }}
{{- else if (eq .Kind `taxonomy`) -}}
{{ $.Scratch.Set "scope" "tags" }}
{{- else if (ne .Kind `page`) -}}
{{ .Scratch.Set "scope" "blogpost listing" }}
{{- end -}}

<head>
    {{- partial "data-init.html" . }}
    {{- partial "head.html" . }}
</head>
<!-- Google Tag Manager -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPZQ664"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager  -->
<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq $.Site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
"
data-analytics-scope="{{ .Scratch.Get "scope" }}"
>
    {{- partialCached "header.html" . .Page}}
    <main class="main">
        {{- block "main" . }}
        {{- end }}
    </main>
    {{- partialCached "footer.html" . .Type }}
</body>
</html>
