{{- define "main" }}

<!---->
{{ $default_params := .Params }}
{{ $event := dict "event" "blogpost" }}
{{ $word_count := dict "word_count" .WordCount }}
{{ $event_name := dict "event_name" "view_item" }}
{{ $default_params := merge $default_params $event $word_count $event_name }}
<!---->
<!-- {{ printf "%#v" .Page.Params.tags }} -->
<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
    </h1>
    {{- if .Params.hideMeta }}{{ else }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- if .IsTranslated -}}&nbsp;|&nbsp;
      <ul class="i18n_list">
        {{- i18n "translations" | default "Translations"}}:
        {{- range .Translations }}
        <li>
          <a href="{{ .Permalink }}">
            {{- if (and $.Site.Params.displayFullLangName (.Language.LanguageName)) }}
            {{- .Language.LanguageName | emojify | humanize -}}
            {{- else }}
            {{- .Lang | humanize -}}
            {{- end -}}
          </a>
        </li>
        {{- end }}
      </ul>
      {{- end }}
    </div>
    {{- end}}
  </header>
  {{- partial "cover.html" (dict "cxt" . "IsHome" false) }}
  
  <div class="summary single" id='analytics' data-analytics= "{{ $default_params | jsonify }}">{{ .Summary }}.</div></div>
  
  <!-- sponsor -->
  {{ if and (not $.IsHome) (ne $.Page.Params.Type "page") (ne $.Page.Params.Type "form") }}
    {{- partial "sponsor.html" . }}
  {{- end }}

  {{- if .Params.ShowToc }}
  <div class="toc"><div></div>
    <details class="details" {{if .Params.TocOpen }} open{{ end }}>
      <summary accesskey="c" title="(Alt + C)" data-analytics-action="open_toc"> 
        {{- i18n "toc" | default "Table of Contents" }}
      </summary>
      <blockquote>
        {{- partial "toc.html" . }}
      </blockquote>
    </details>
  </div>
  {{- end }}
  <div class="post-content">
    {{- partial "anchored_headings.html" .Content -}}
  </div>

  <!-- Related Posts -->
  {{- partial "related.html" . }}
  <!---->

  <footer class="post-footer">
    {{ $event_name := dict "event_name" "add_to_cart" }}
    {{ $default_params := merge $default_params $event_name }}
    <div data-analytics= "{{ $default_params | jsonify }}" data-analytics-id="{{ $default_params.page_id }}" data-analytics-words="{{ .WordCount }}"></div>

    {{- if .Params.tags }}
    <ul class="post-tags">
      <li><a class="post-tags-text"> tags </a></li>
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true) ) }}
    {{- partial "share_icons.html" . }}
    {{- end }}
  </footer>

  {{- if and ($.Site.Params.comments) (ne .Params.comments false) }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

<div class="w3c-validate">
  {{ if in (.Site.BaseURL | string) "localhost" }}
    <a href="https://validator.w3.org/nu/?doc={{ "https://byrgeleeuwangh.com" }}{{ .RelPermalink }}"
    target="_blank">Validate @ W3C</a>
  {{ end }}
</div>

{{- end  }}{{/* end main */}}

