{{- define "main" }}

<!---->
{{ $default_params := .Params }}
{{ $page_id_param := dict "page_id" .Page.Params.page_id }}
{{ $params := merge $default_params $page_id_param }}
<!---->

<article class="post-single" data-analytics-blogpost= "{{ $params | jsonify }}" data-analytics-blogpost-id="{{ $page_id_param }}">
  <header class="post-header">
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
    </h1>
    {{- if .Params.hideMeta }}{{ else }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- if .IsTranslated -}}&nbsp;|&nbsp;
      <ul class="i18n_list">
        {{- i18n "translations" | default "Translations"}}:
        {{- range .Translations }}
        <li>
          <a href="{{ .Permalink }}">
            {{- if (and $.Site.Params.displayFullLangName (.Language.LanguageName)) }}
            {{- .Language.LanguageName | emojify | humanize -}}
            {{- else }}
            {{- .Lang | humanize -}}
            {{- end -}}
          </a>
        </li>
        {{- end }}
      </ul>
      {{- end }}
    </div>
    {{- end}}
  </header>
  {{- partial "cover.html" (dict "cxt" . "IsHome" false) }}
  {{- if .Params.ShowToc }}
  <div class="toc">
    <details {{if .Params.TocOpen }} open{{ end }}>
      <summary accesskey="c" title="(Alt + C)">
        <div class="details">{{- i18n "toc" | default "Table of Contents" }}</div>
      </summary>
      <blockquote>
        {{- partial "toc.html" . }}
      </blockquote>
    </details>
  </div>
  {{- end }}
  <div class="post-content">
    {{- partial "anchored_headings.html" .Content -}}
  </div>

  <!-- Related Posts -->
  <div class="related posts">
    {{- partial "related.html" . }}
    <!-- {{ $related := (where (.Site.RegularPages.Related .) "Type" "in" site.Params.mainSections) }}
        {{ range first 3  $related }}
	        <li class="d-flex mb-4">
	          <div class="post-body">
	            <span class="text-capitalize">- {{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>
	            <a href="{{ .Permalink }}">
	              <h5>{{ .Title }}</h5>
	            </a>
	          </div>
          </li>
        {{ end }} -->

  </div>
  <!---->

  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true) ) }}
    {{- partial "share_icons.html" . }}
    {{- end }}
  </footer>

  {{- if and ($.Site.Params.comments) (ne .Params.comments false) }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end  }}{{/* end main */}}
