{{- if .Params.cover.image -}}
<meta name="x:card" content="summary_large_image" />
{{- if (ne $.Params.cover.relative true) }}
<meta name="x:image" content="{{ .Params.cover.image | absURL }}" />
{{- else }}
<meta name="x:image" content="{{ (path.Join .RelPermalink .Params.cover.image ) | absURL }}" />
{{- end}}
{{- else }}
{{- with $.Params.images -}}
<meta name="x:card" content="summary_large_image"/>
<meta name="x:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
{{- $images := $.Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
{{- with $featured -}}
<meta name="x:card" content="summary_large_image"/>
<meta name="x:image" content="{{ $featured.Permalink }}"/>
{{- else -}}
{{- with $.Site.Params.images -}}
<meta name="x:card" content="summary_large_image"/>
<meta name="x:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
<meta name="x:card" content="summary"/>
{{- end -}}
{{- end -}}
{{- end }}
{{- end }}
<meta name="x:title" content="{{ .Title }}"/>
<meta name="x:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ with .Site.Social.x -}}
<meta name="x:site" content="@{{ . }}"/>
{{ end -}}
{{ range .Site.Authors }}
{{ with .x -}}
<meta name="x:creator" content="@{{ . }}"/>
{{ end -}}
{{ end -}}