{{- define "main" }}

    {{- range where $.Pages.ByDate.Reverse ".Section" "sponsors" }}
        <article class="sponsor post-entry" data-analytics-sponsor= "{{ .Page.Params | jsonify }}" data-analytics-sponsor-id="{{ .File.UniqueID }}">
            <header class="entry-header">
                <aside class="weeknumber">Sponsor | week : 
                    {{- partial "sponsor-date.html" . -}}
                </aside>
              <h2>
                {{ .Title }}
                {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
              </h2>
            </header>
            {{- if (ne .Site.Params.hideSummary true)}}
            <section class="entry-content">
              <p>{{ .Summary | plainify | htmlUnescape }}...</p>
            </section>
            <footer class="footer"> 
                Link to sponsor {{ .Page.Params.Sponsor_link }}
            </footer>
            {{- end }}
            
            <a class="entry-link" aria-label="sponsor link to {{ .Title | plainify }}" href="{{ .Page.Params.Sponsor_link }}?utm_source=byrgeleeuwangh&amp;utm_medium=rss&amp;utm_campaign={{ .Date.Format "January-2006" | lower }}"></a>
          </article>
    {{- end }}

{{- end  }}{{- /* end main */ -}}