.git-committed {
    font-size: 0.6rem;
    margin-top: 1rem;
  }
span.mirror {
    display: inline-block; 
    margin:1em;
    font-size: 1.4rem;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
td.event.list {
  width: 30vw;
  text-align: left;
  margin: 1vh;
}
table.event.list.table {
  margin-top: 5vh;
}