.git-committed {
    font-size: 0.6rem;
    margin-top: 1rem;
  }
span.mirror {
    display: inline-block; 
    margin:1em;
    font-size: 1.4rem;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
td.event.listing {
  width: 30vw;
  text-align: left;
  margin: 1vh;
  padding: .5rem .5rem;
}
table.eventhome {
  overflow-x: hidden;
}
table.eventoverview {
  position: relative;
  margin-top: 5vh;
  border-radius: var(--radius);
  margin-bottom: var(--gap);
  background: var(--entry);
  overflow: hidden;
}
span.bold {
  font-weight: 600;
}
a.event {
  border-bottom: dotted 1px black;
  text-decoration: none;
}
a.event:visited {
  border-bottom: dotted 1px gray;
  text-decoration: none;
}
a.event:hover {
  cursor: pointer;
  border-bottom: dotted 0px gray;
  text-decoration: none;
}
.upcoming-event {
  display: flex;
  place-items: center;
}
.event-entry {
  position: relative;
  margin-top: var(--gap);
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--event-listing);
  border-radius: var(--radius);
  transition: transform .1s;
}
.event-entry.first {
  background: none;
  margin-top: 0em;
}
article.event.entry {
  margin-bottom: 1.5em;
}
table.eventnothome {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto;
  word-break: keep-all;
}
p.events {
  padding-left: 3vw;
  font-size: 110%;
}
.first {
  margin-top: 1.5em;
}
svg.icon {
  margin-right: .5em;
  vertical-align: middle;
  fill: var(--svg-icon);
}
td.event.homepage {
  display: flex;
  place-items: center;
}

/* Contact form */
form.contact-form.width-normal {
  padding-bottom: 2em;
  width: calc(var(--main-width)/2);
}
.form-group {
  padding: .5em 0em .5em 0em;
  width: calc(var(--main-width)/1.5);
}
@media screen and (max-width:650px) {
  .form-group {
    width: calc(var(--main-width)/2.5);
  }
}
textarea {
  width: calc(var(--main-width)/1.5);
}
@media screen and (max-width:650px) {
  textarea {
    width: calc(var(--main-width)/2.5);
  }
}
input, textarea {
  color: var(--form-text);
  width: calc(var(--main-width)/1.5);
}
@media screen and (max-width:650px) {
  input, textarea {
    width: calc(var(--main-width)/2.5);
  }
}
input:-webkit-autofill,
textarea:-webkit-autofill  {
  /* -webkit-box-shadow: 0 0 0 50px white inset; */
  -webkit-text-fill-color: var(--form-text);
}
input:-webkit-autofill:focus,
textarea:-webkit-autofill  {
  /* -webkit-box-shadow: 0 0 0 50px white inset; */
  -webkit-text-fill-color: var(--form-text);
}

button,
input[type=button],
input[type=submit] {
    color: var(--primary);
    background: var(--button)!important;
}
button#Form-submit {
  padding: 0.3em 2em;
  border-radius: var(--radius);
}
.underline-form {
  border-bottom: 2px solid var(--border-form);
}