{{ with $.Page.Params }}

{{- $author := ($.Params.author | default $.Site.Params.author)}}
{{- $author_email := ($.Params.author_email | default $.Site.Params.author)}}
{{- $author_email_hashed := (sha256 $.Params.author_email | default $.Site.Params.author)}}

{{- $environment := cond (eq $.Site.Params.env "development") "dev" "prod" }}
<!-- {{- $scope := $.Scratch.Get "scope" }} -->
<!-- {{ printf "%#v" $author_email }} -->

<script>
    // settings
    var version_middleware = "0.7";
    var _list_name = {{ $.Kind }};
    var _list_id = {{ sha1 $.Kind }}
</script>
<script>
    const removeEmpty = (obj) => {
    let newObj = {};
    Object.keys(obj).forEach((key) => {
      if (obj[key] === Object(obj[key])) newObj[key] = removeEmpty(obj[key]);
      else if (obj[key] !== undefined) newObj[key] = obj[key];
    });
    return newObj;
  };
</script>

<!-- blog_posts -->
<script>
  var git_info = undefined;

  {{- with $.GitInfo }}
  {{ $git := . }}
  var git_info = {
    "abbreviatedHash": "{{$git.AbbreviatedHash}}",
    "hash": "{{$git.Hash}}",
    "commitDate": "{{ dateFormat "2-01-2006" $git.CommitDate }}",
    "subject": "{{ $git.Subject }}",
  };
  {{- end }}

  // // create session id
  // var session_id = function () {  
  //   var d = new Date().getTime();
  //   if (typeof performance !== 'undefined' && typeof performance.now === 'function'){
  //       d += performance.now();
  //   }
  //   return 'xxxxxxxx-xxxx-3xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
  //       var r = (d + Math.random() * 16) % 16 | 0;
  //       d = Math.floor(d / 16);
  //       return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
  //   });
  // }
  // create client_id
  // var array = new Uint32Array(3);
  // window.crypto.getRandomValues(array);
  // date
  function seconds_since_epoch(){ return Math.floor( Date.now() / 1000 ) }
  var options_weekday = { weekday: 'long' };
  var options_day = { day: '2-digit' };
  var options_month = { month: 'long' };
  var options_month_digit = { month: '2-digit' };
  var dateobj= new Date() ;
  var year = dateobj.getFullYear();
  var month = dateobj.getMonth() + 1;
  var seconds = dateobj.getSeconds();
  var minutes = dateobj.getMinutes();
  var hour = dateobj.getHours();
 
  // Cookies
  const read_cookies = document.cookie;
  const cookies = read_cookies.split(";").map((s) => s.split("=").map((s) => s.trim())).reduce((m, [k, v]) => (m.set(k, v), m), new Map());
  let uuid = cookies.get("_uuid"); 
  let sessionId = cookies.get("_sessionId");
  let ga_cookie = cookies.get("_ga"); 
  // user = Object.assign(user, session_id);

  // ISOWeek
  function ISO8601_week_no(dt) {
     var tdt = new Date(dt.valueOf());
     var dayn = (dt.getDay() + 6) % 7;
     tdt.setDate(tdt.getDate() - dayn + 3);
     var firstThursday = tdt.valueOf();
     tdt.setMonth(0, 1);
     if (tdt.getDay() !== 4) 
       {
      tdt.setMonth(0, 1 + ((4 - tdt.getDay()) + 7) % 7);
        }
     return 1 + Math.ceil((firstThursday - tdt) / 604800000);
  }

  var week_number = new Date(dateobj);
  var _current_week_number = ISO8601_week_no(week_number);

  // UTM parameters
  var getQueryString = function ( field, url ) {
    var href = url ? url : window.location.href;
    var reg = new RegExp( '[?&]' + field + '=([^&#]*)', 'i' );
    var string = reg.exec(href);
    return string ? string[1] : null;
  };

  var utmSource = getQueryString('utm_source') || undefined;
  var utmMedium = getQueryString('utm_medium') || undefined;
  var utmCampaign = getQueryString('utm_campaign') || undefined;
  var utmContent  = getQueryString('utm_content') || undefined;
  var utmTerm = getQueryString('utm_term') || undefined;

  //// dataLayer
  var _dataCollection = [];
  _dataCollection = removeEmpty({
    "event": "dataLayer_initialization",
    "general": {
      "git": git_info,
      "environment": {{ $environment }},
      "version_hugo": {{ hugo.Version }},
      "version_middleware": version_middleware,
      "theme_color": {{$.Site.Params.defaultTheme}},
      "epoch": seconds_since_epoch(),
      "date_full": dateobj.toString(),
      "date": dateobj.toLocaleDateString('nl-NL'),
      "ISOWeek": ISO8601_week_no(week_number),
      "year": year,
      "month": parseInt(dateobj.toLocaleDateString('en-GB', options_month_digit)),
      "month_long": dateobj.toLocaleDateString('en-GB', options_month),
      "day": parseInt(dateobj.toLocaleDateString('en-GB', options_day)),
      "day_long": dateobj.toLocaleDateString('en-GB', options_weekday),
      "time": dateobj.toLocaleTimeString(),
      "hour": hour,
      "minutes": minutes,
      "seconds": seconds,
      "hostname": document.location.hostname,
      "port": document.location.port,
      "protocol": document.location.protocol
    },
    "user": {
      "uuid": uuid,
      "session_id": sessionId,
      "ga_cookie": ga_cookie
    },
    "page": {
      "page_type": "{{ $.Kind }}",
      {{ if (eq $.Kind "page") }}"author_email_hashed": {{ $author_email_hashed }} || undefined,{{end}}
      {{ if (eq $.Kind "page") }}"author_email": {{ $author_email }} || undefined,{{end}}
      {{ if (eq $.Kind "page") }}"author_name": {{ $author }} || undefined,{{end}}
      {{ with $.Params.tags }}"tags": {{$.Params.tags}},{{end}}
      {{ with $.Params.title }}"title": {{$.Params.title}},{{end}}
      {{ with $.Params.summary }}"summary": {{$.Params.summary}},{{end}}
      {{ with .UniqueID }}"id": {{.UniqueID}},{{end}}
      'utmSource': utmSource,
      'utmMedium': utmMedium,
      'utmCampaign': utmCampaign,
      'utmContent': utmContent,
      'utmTerm': utmTerm,
      'searchQueryString': window.location.search || undefined,
      'referrer': window.document.referrer || undefined,
      'originalLocation': document.location.protocol + '//' + document.location.hostname + document.location.pathname + document.location.search,
      {{ with $.Site.Language.Lang }}"language": {{$.Site.Language.Lang}},{{end}}
      {{ with $.Params.keywords }}"keywords": {{$.Params.keywords}},{{end}}
      {{ with $.Page.Date }}"date_published": {{ dateFormat "2-01-2006" $.Page.Date }},{{end}}
      {{ with $.Page.Date }}"year_published": {{ dateFormat "2006" $.Page.Date }},{{end}}
      {{ with $.Page.Date }}"month_published": {{ dateFormat "01" $.Page.Date }},{{end}}
      {{ with $.Page.Date }}{{ with $.Page.Lastmod }}"day_published": {{ dateFormat "2" $.Page.Date }}, "lastmod": {{ dateFormat "2-01-2006" $.Page.Lastmod }},{{end}}{{end}}
      {{ with $.Params.draft }}"draft": {{ $.Params.draft }},{{end}}
      {{ with $.File }}"id": {{ .UniqueID }},{{ end }}
      {{ with $.Page.ReadingTime }}"reading_time": {{ $.Page.ReadingTime }},{{end}}
      {{ with $.Page.WordCount }}"words": {{ $.Page.WordCount }},{{end}}
      {{ with $.Params.aliases}}"aliases": {{$.Params.aliases}},{{end}}
      {{ with $.Permalink }}"url": {{ $.Permalink }},{{end}}
      {{ if $.IsHome }}"path": "/"{{else}}{{ with $.File }}"path": {{ .Dir }} + {{ end }}{{ with $.File }}{{ .BaseFileName }}{{ end }}{{ end }}
    }
  });

  window.dataLayer = window.dataLayer || [];
  dataLayer.push(_dataCollection);
  customLog(' [ Started Debug View ] ' + 'v' + version_middleware , 'start')


<!-- /////////////////////////// -->
<!-- Analytics script -->
<!-- /////////////////////////// -->

  /// Cookies
  var cookieObj = {};

function getPageCookies(){

  // cookie is a string containing a semicolon-separated list, this split puts it into an array
  var cookieArr = document.cookie.split(";");

  // Iterate the array of flat cookies to get their key value pair
  for(var i = 0; i < cookieArr.length; i++){

      // Remove the standardized whitespace
      var cookieSeg = cookieArr[i].trim();

      // Index of the split between key and value
      var firstEq = cookieSeg.indexOf("=");

      // Assignments
      var name = cookieSeg.substr(0,firstEq);
      var value = cookieSeg.substr(firstEq+1);
      cookieObj[name] = value;
 }
 return cookieObj;
};
getPageCookies();

  // Viewport Size
  // Get Viewport resize
var viewportHeigth
var viewportWidth
function getViewportSize(w) {

  // Use the specified window or the current window if no argument
  w = w || window;

  // This works for all browsers except IE8 and before
  if (w.innerWidth != null) return { viewportWidth: w.innerWidth, viewportHeigth: w.innerHeight };

  // For IE (or any browser) in Standards mode
  var d = w.document;
  if (document.compatMode == "CSS1Compat")
      return { viewportWidth: d.documentElement.clientWidth,
         viewportHeigth: d.documentElement.clientHeight };

  // For browsers in Quirks mode
  return { viewportWidth: d.body.clientWidth, viewportHeigth: d.body.clientHeight };
}


////
// Custom Logging
//// emoji https://emojipedia.org/emoji/
function customLog(message, color='black') {
  var logType = 'log';
  switch (color) {
      case 'success':  
          color = 'color: green';	
          emoji = String.fromCodePoint(0x1F44F);
          break
      case 'info':     
          color = 'background: #bc5090; color: white; padding: 2px 4px; border-radius: 4px 4px 4px 4px;';
          emoji = String.fromCodePoint(0x1F44D);
          logType = 'info';
          break;
      case 'validation':     
          color = 'background: #21e5d7; color: black; padding: 2px 4px; border-radius: 4px 4px 4px 4px;';
          logType = 'info';
          break;
      case 'notification':     
          color = 'background: #eee; color: black; padding: 2px 4px; border-radius: 4px 4px 4px 4px;';
          logType = 'info';
          break;
      case 'error':   
          color = 'background: #ff6361; color: white; padding: 2px 4px; border-radius: 4px 4px 4px 4px;'; 
          logType = 'error';
          break;
      case 'warning':  
          color = 'background: #D93B38; color: white; padding: 2px 4px; border-radius: 4px 4px 4px 4px;';
          emoji = String.fromCodePoint(0x26A0);
          logType = 'warn';
          break;
      case 'productinfo':  
          color = 'background: #ffa600; color: black; padding: 2px 4px; border-radius: 4px 4px 4px 4px;';
          logType = 'info';
          break;
      case 'start':  
          color = 'background: #ffa600; color: black; padding: 2px 4px; border-radius: 4px 4px 4px 4px;';
          emoji = String.fromCodePoint(0x1F44C);
          logType = 'info';
          break;
          
      default: 
          color = color
      }

  var debug_status = localStorage.getItem('debug_status');
  if(debug_status) {
    console[logType](`${emoji}` + " " + `%c${message}`, `${color}`);
  }
}
</script>

<script>
  ////////////////////
  // Web Vitals performance
  ////////////////////
  function sendToGTM(name, delta, id) {
    dataLayer.push({
      event: 'web-vitals',
      web_vitals: name
    });
  }
  window.addEventListener('load', (event) => {
    webVitals.getCLS(sendToGTM);
    webVitals.getFID(sendToGTM);
    webVitals.getLCP(sendToGTM);
  });
</script>
{{ end }}