{{ $icon_loudspeaker := ":loudspeaker:" }}

<!-- Get CSV data -->
{{ $url := "/data/events/events.csv" }}
{{ $sep := "," }}
{{ $events := getCSV $sep $url }}
{{ range $i, $r := $events }}
        <!-- not first row because of headers -->
    {{ if ne $i 0 }}
        <!-- define variables -->
        {{ $event_start_date := index $r 1 }}
        {{ $event_start_date := (time $event_start_date) }}
        {{ $event_end_date := index $r 2 }}
        {{ $event_end_date := (time $event_end_date) }}
        {{ $event_name := index $r 0 }}
        {{ $event_location := index $r 3 }}
        {{ $event_url := index $r 4 }}

        <!-- date logic for showing events 1 month before the event -->
        {{ $show_event := $event_start_date.After now }}
        {{ $show_event_start := $event_start_date.AddDate 0 -1 0 }}
        {{ $show_event_publishdate := $show_event_start.Before now }}

        <!-- show on homepage -->
        {{- if and ($show_event) ($show_event_publishdate) ($.homepage) }}
        <article class="event entry" data-analytics-event= "{{ $r | jsonify }}">
            <table class="eventhome">
                <tr>
                    <td title="upcoming event: {{ $event_name }}" title="event {{ $event_name }}" class="event homepage"><span class="mirror">{{ $icon_loudspeaker | emojify }}</span> <a href="/events">{{ $event_start_date.Month }} {{ $event_start_date.Day }}, {{ $event_start_date.Year }}: {{ $event_name }}, {{ $event_location }}</a></td>
                </tr>
            </table>
        </article>
        {{- end }}
    {{- end }}
{{- end }}

<!-- show upcoming event -->
{{ range $i, $r := $events }}
{{- if eq $i 0 }}{{- if not $.homepage }}<h3 class="events first">first upcoming event</h3>{{- end }}{{- end }}
        <!-- not first row because of headers -->
    {{ if ne $i 0 }}
        <!-- define variables -->
        {{ $event_start_date := index $r 1 }}
        {{ $event_start_date := (time $event_start_date) }}
        {{ $event_end_date := index $r 2 }}
        {{ $event_end_date := (time $event_end_date) }}
        {{ $event_name := index $r 0 }}
        {{ $event_location := index $r 3 }}
        {{ $event_url := index $r 4 }}

        <!-- date logic for showing events 1 month before the event -->
        {{ $show_event := $event_start_date.After now }}
        {{ $show_event_start := $event_start_date.AddDate 0 -1 0 }}
        {{ $show_event_publishdate := $show_event_start.Before now }}

        {{- if and ($show_event) ($show_event_publishdate) }}
        {{- if not $.homepage }}
        <article class="event-entry first">
            <table class="eventnothome">
                <tr>
                    <td class="upcoming-event" title="upcoming event: {{ $event_name }}" data-analytics-event= "{{ $r | jsonify }}" title="event {{ $event_name }}" class="event homepage" colspan="3"><span class="mirror">{{ $icon_loudspeaker | emojify }}</span> <a href="{{ $event_url }}">{{ $event_start_date.Month }} {{ $event_start_date.Day }}, {{ $event_start_date.Year }}: {{ $event_name }}, {{ $event_location }}</a></td>
                </tr>
            </table>
        </article>
        {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

<!-- show coming events -->
{{ range $i, $r := $events }}
{{- if eq $i 0 }}{{- if not $.homepage }}<h3 class="events">coming events</h3>{{- end }}{{- end }}
        <!-- not first row because of headers -->
    {{ if ne $i 0 }}
        <!-- define variables -->
        {{ $event_start_date := index $r 1 }}
        {{ $event_start_date := (time $event_start_date) }}
        {{ $event_end_date := index $r 2 }}
        {{ $event_end_date := (time $event_end_date) }}
        {{ $event_name := index $r 0 }}
        {{ $event_location := index $r 3 }}
        {{ $event_url := index $r 4 }}

        <!-- date logic for showing events 1 month before the event -->
        {{ $show_event := $event_start_date.After now }}
        {{ $show_event_start := $event_start_date.AddDate 0 -1 0 }}
        {{ $show_event_publishdate := $show_event_start.Before now }}

        {{- if ($show_event) }}
        {{- if not $.homepage }}

        <article class="event-entry" data-analytics-event= "{{ $r | jsonify }}">
            <table class="eventnothome">
                <!-- <tr>
                    <td class="event list"><span class="bold">Date</span></td>
                    <td class="event list"><span class="bold">Event</span></td>
                    <td class="event list"><span class="bold">Location</span></td>
                </tr> -->
                <tr title="event {{ $event_name }}" class="event listing">
                  <a class="entry-link" href="{{ $event_url }}" target="_blank" rel="noopener noreferrer">
                    <td class="event listing"><span><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M17 3v-2c0-.552.447-1 1-1s1 .448 1 1v2c0 .552-.447 1-1 1s-1-.448-1-1zm-12 1c.553 0 1-.448 1-1v-2c0-.552-.447-1-1-1-.553 0-1 .448-1 1v2c0 .552.447 1 1 1zm13 13v-3h-1v4h3v-1h-2zm-5 .5c0 2.481 2.019 4.5 4.5 4.5s4.5-2.019 4.5-4.5-2.019-4.5-4.5-4.5-4.5 2.019-4.5 4.5zm11 0c0 3.59-2.91 6.5-6.5 6.5s-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5zm-14.237 3.5h-7.763v-13h19v1.763c.727.33 1.399.757 2 1.268v-9.031h-3v1c0 1.316-1.278 2.339-2.658 1.894-.831-.268-1.342-1.111-1.342-1.984v-.91h-9v1c0 1.316-1.278 2.339-2.658 1.894-.831-.268-1.342-1.111-1.342-1.984v-.91h-3v21h11.031c-.511-.601-.938-1.273-1.268-2z"/></svg></span> {{ $event_start_date.Month }} {{ $event_start_date.Day }}, {{ $event_start_date.Year }}</td>
                    <td class="event listing">{{ $event_name }}</td>
                    <td class="event listing"><span><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"/></svg></span> {{ $event_location }}</td>
                  </a>
                </tr>
            </table>
        </article>
        {{- end }}
        {{- end }}
    {{- end }}
{{- end }}

<!-- show past events -->
{{ range $i, $r := $events }}
{{- if eq $i 0 }}{{- if not $.homepage }}<h3 class="events">past events</h3>{{- end }}{{- end }}
        <!-- not first row because of headers -->
    {{ if ne $i 0 }}
        <!-- define variables -->
        {{ $event_start_date := index $r 1 }}
        {{ $event_start_date := (time $event_start_date) }}
        {{ $event_end_date := index $r 2 }}
        {{ $event_end_date := (time $event_end_date) }}
        {{ $event_name := index $r 0 }}
        {{ $event_location := index $r 3 }}
        {{ $event_url := index $r 4 }}

        <!-- date logic for showing past events -->
         {{ $show_event_past := $event_start_date.Before now }}
        {{- if ($show_event_past) }}
        {{- if not $.homepage }}
        <article class="event-entry">
            <table class="eventnothome">
                <!-- <tr>
                    <td class="event list"><span class="bold">Date</span></td>
                    <td class="event list"><span class="bold">Event</span></td>
                    <td class="event list"><span class="bold">Location</span></td>
                </tr> -->
                <tr data-analytics-event= "{{ $r | jsonify }}" title="event {{ $event_name }}" class="event listing">
                  <a class="entry-link" href="{{ $event_url }}" target="_blank" rel="noopener noreferrer">
                    <td class="event listing"><span><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M17 3v-2c0-.552.447-1 1-1s1 .448 1 1v2c0 .552-.447 1-1 1s-1-.448-1-1zm-12 1c.553 0 1-.448 1-1v-2c0-.552-.447-1-1-1-.553 0-1 .448-1 1v2c0 .552.447 1 1 1zm13 13v-3h-1v4h3v-1h-2zm-5 .5c0 2.481 2.019 4.5 4.5 4.5s4.5-2.019 4.5-4.5-2.019-4.5-4.5-4.5-4.5 2.019-4.5 4.5zm11 0c0 3.59-2.91 6.5-6.5 6.5s-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5zm-14.237 3.5h-7.763v-13h19v1.763c.727.33 1.399.757 2 1.268v-9.031h-3v1c0 1.316-1.278 2.339-2.658 1.894-.831-.268-1.342-1.111-1.342-1.984v-.91h-9v1c0 1.316-1.278 2.339-2.658 1.894-.831-.268-1.342-1.111-1.342-1.984v-.91h-3v21h11.031c-.511-.601-.938-1.273-1.268-2z"/></svg></span> {{ $event_start_date.Month }} {{ $event_start_date.Day }}, {{ $event_start_date.Year }}</td>
                    <td class="event listing">{{ $event_name }}</td>
                    <td class="event listing"><span><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"/></svg></span> {{ $event_location }}</td>
                  </a>
                </tr>
            </table>
        </article>
        {{- end }}
        {{- end }}
    {{- end }}
{{- end }}