<!-- Get CSV data -->
{{ $url := "/data/sponsors/sponsors.csv" }}
{{ $sep := ";" }}
{{ $sponsors := getCSV $sep $url }}
    
    {{ range $i, $r := $sponsors | first 20 }}
        <!-- not first row because of headers -->
        {{ if ne $i 0 }}

        <!-- define variables -->
        {{ $sponsor_publishDate := index $r 0 }}
        {{ $sponsor_publishDate_time := (time $sponsor_publishDate).Format "02 Jan" }}
        {{ $sponsor_expiryDate := index $r 1 }}
        {{ $sponsor_expiryDate_time := ((time $sponsor_expiryDate).Add (-24 | duration "hour" )).Format "02 Jan" }}
        <!-- if we have an *errors.errorString check the csv file (too many -> ;)  -->
        {{ $sponsor_ISOWeek := int (index $r 2) }}
        {{ $sponsorship_sold := index $r 3 }}
        {{ $sponsor_name := index $r 4 }}
        {{ $sponsor_text := index $r 5 }}
        {{ $sponsor_link := index $r 6 }}
        {{ $sponsor_email := index $r 7 }}
    
        {{ $sponsor_availability_text := replace ( replace $sponsorship_sold "NO" "Available" ) "YES" "Sold" }}

        {{ $default_params := dict "event" "sponsor" "name" $sponsor_name "title" $sponsor_name "publishDate" $sponsor_publishDate "expiryDate" $sponsor_expiryDate "availability" $sponsor_availability_text "ISOWeek" $sponsor_ISOWeek }}

            <!-- show Sponsorship on page -->
            {{- if and ((time $sponsor_publishDate).Before now) ((time $sponsor_expiryDate).After now ) (eq $sponsorship_sold "YES") }}
              <article id="promotion" class="sponsorship entry">
                <header class="entry-header">
                  <div class="sponsorship-item left"><img alt="sponsor of the week: {{$sponsor_name}}" class="sponsor_image" src="https://dummyimage.com/180x120/fff/000.png" width="180" height="120"></div>
                  <h2>
                    {{ $sponsor_name }}
                  </h2>
                </header>
                <section title="text: {{ $sponsor_text }}" class="entry-content sponsor_textblock right">
                  <p>{{ $sponsor_text }}</p>
                </section>
                <footer class="entry-footer">
                  <span class="sponsored_text">sponsored</span>
                </footer>
                <a id="analytics" class="entry-link" data-analytics="{{ $default_params | jsonify }}" data-analytics-eventname="view_promotion" data-analytics-action="select_promotion" data-analytics-listindex="{{$i}}" href="{{$sponsor_link}}?utm_source=byrgeleeuwangh&amp;utm_medium=website&amp;utm_campaign={{ $sponsor_publishDate_time | lower }}-{{ $sponsor_expiryDate_time | lower }}" title="link: {{ $sponsor_link }}" target="_blank" rel="noopener noreferrer"></a>
              </article>
            {{- end }}
        {{- end }}
    {{- end }}
