<div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sub-footer-inner">
            <ul>
  {{ if .Site.Data.contact.phone }}
              <li><strong>Phone: </strong><span>{{ .Site.Data.contact.phone }}</span></li>
  {{ end }}
  {{ if .Site.Data.contact.email }}
              <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                  {{ .Site.Data.contact.email }}</a></li>
  {{ end }}
            </ul>
            <a class="copyright" href="https://www.analyticshelp.guru">&copy; {{ now.Format "2006"}} Analyticshelp</a>
          </div>
        </div>
      </div>
      <p class="icons">Icons made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
      
      {{ partial "git-info.html" . }}
  
    </div>
  </div>