a.netlify-identity-button {
    padding: 0.3em;
    padding-right: 2em;
    padding-left: 2em;
    margin-right: 2em;
    height: 25px;
    display: inline;
    font-size: small;
    border-radius: 10px;
    background-color: white;
}

svg#login {
    width: 1.2em;
    height: auto;
    display: inline;
}